@model BE_Capstone.Models.Line

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Line</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="LineId" />
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Order" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Body" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CharacterId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CharacterId" class="form-control" asp-items="ViewBag.CharacterId"></select>
                <span asp-validation-for="CharacterId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SceneId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="SceneId" class="form-control" asp-items="ViewBag.SceneId"></select>
                <span asp-validation-for="SceneId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

