@model IEnumerable<BE_Capstone.Models.Scene>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

    <body>

     <ul id="sortable">
        @foreach (var item in Model) 
        { 
            <li class="ui-state-default">
                @Html.DisplayFor(modelItem => item.Title)
            </li>        
        }
    </ul>

    </body>

